name: Checks

on: [push, pull_request]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oBusk/action-pnpm-setup@v1

      - name: Run typecheck
        run: pnpm run typecheck

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oBusk/action-pnpm-setup@v1

      - name: Run prettier
        run: pnpm run prettier

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oBusk/action-pnpm-setup@v1

      - name: Run validate
        run: pnpm run -r print-config
